<div class="title"> 

  <div class="flexbox-container">

    <div class="box-1">

      <mat-form-field appearance="fill">
            <mat-label>Tournament Name </mat-label>
            <mat-select [(value)]="defaultTournament" (selectionChange)="onSelectNameChange($event)">
                <mat-option *ngFor="let tournament of tournamentNames" [value]="tournament.value">
                {{tournament.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="box-2">
        <mat-form-field *ngIf= "showTournamentSelector" appearance="fill">
            <mat-label>Tournament Number </mat-label>
                <mat-select [(value)]="defaultTournamentId" (selectionChange)="onTournamentChange($event)">
                    <mat-option *ngFor="let tournament of tournamentIds" [value]="tournament.value">
                        {{tournament.viewValue}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
    </div>

    <div class="box-3">
        <mat-form-field appearance="fill">
            <mat-label>Tournament Date </mat-label>
                <mat-select [(value)]="defaultDate"  (selectionChange)="onSelectDateChange($event)">
                    <mat-option *ngFor="let tournament of tournamentDates" [value]="tournament.value">
                        {{tournament.viewValue}}
                    </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
  </div>



  <div class=flexbox-container>

      <button 
        mat-raised-button color="primary"
        (click)="findTournament($event)">
        Find Tournament
      </button>
  
  </div>


  <h3 class="flex-center"> Results </h3>
  <div class="flexbox-container">

      <ag-grid-angular 
      style="width:760px; height: 500px;" 
      class="ag-theme-alpine-dark"
      [rowData]="rowData" 
      [columnDefs]="columnDefs">

  </ag-grid-angular>
  </div>

 

</div>
