<div>
  <!-- https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/ -->
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button> -->
        <h1>Poker I Barely Know Her</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/'"> Home </a>
          <a mat-button [routerLink]="'/tournaments'"> Tournament Results </a>
          <a mat-button [routerLink]="'/users'"> Users </a>
          <a mat-button href="http://play.pokeribarelyknowher.com" target="_blank"> Play Poker </a> 
        </div>
      </mat-toolbar-row>
      <!-- <mat-toolbar-row>
          <span style="font-size: 12px;">Catch Phrase</span>
        </mat-toolbar-row> -->
    </mat-toolbar>


</div>


<router-outlet></router-outlet>