<div >

<h3> Select a Tournament</h3>
<mat-form-field appearance="fill">
  <mat-label>Tournament Name </mat-label>
  <mat-select (selectionChange)="onSelectChange($event)">
    <mat-option *ngFor="let tournament of tournamentNames" [value]="tournament.value">
      {{tournament.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<h3> Tournament Stats</h3>
<ag-grid-angular 
  style="width: 1500px; height: 750px;" 
  class="ag-theme-alpine-dark"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  >
</ag-grid-angular>

</div>


<router-outlet></router-outlet>